<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093981067133-lk4egjf9mqu946pibuar2qb416sq7m4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093981067133-lk4egjf9mqu946pibuar2qb416sq7m4i</string>
	<key>API_KEY</key>
	<string>AIzaSyAEvh14xOckG5mwLAW3LLsQ-BdCR2E55eA</string>
	<key>GCM_SENDER_ID</key>
	<string>1093981067133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ijandula.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>prueba-df7ab</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-df7ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093981067133:ios:f944171cb38ef533291e14</string>
</dict>
</plist>